<a href="https://colab.research.google.com/github/moumitam28/project_1/blob/main/lung_cancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('lung.csv')
data.head()

,class,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9,attribute10,...,attribute48,attribute49,attribute50,attribute51,attribute52,attribute53,attribute54,attribute55,attribute56,attribute57
0,1,0,3,0,0,0,2,2,2,1,...,2,2,2,2,2,1,1,1,2,2
1,1,0,3,3,1,0,3,1,3,1,...,2,2,2,2,2,2,2,1,2,2
2,1,0,3,3,2,0,3,3,3,1,...,2,2,2,2,2,2,2,2,1,2
3,1,0,2,3,2,1,3,3,3,1,...,2,2,2,2,2,2,2,2,2,2
4,1,0,3,2,1,1,3,3,3,2,...,2,2,2,2,2,2,2,1,2,2

In [ ]:
data = data.rename(columns = {'class': 'Class'})
data.head()

,Class,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9,attribute10,...,attribute48,attribute49,attribute50,attribute51,attribute52,attribute53,attribute54,attribute55,attribute56,attribute57
0,1,0,3,0,0,0,2,2,2,1,...,2,2,2,2,2,1,1,1,2,2
1,1,0,3,3,1,0,3,1,3,1,...,2,2,2,2,2,2,2,1,2,2
2,1,0,3,3,2,0,3,3,3,1,...,2,2,2,2,2,2,2,2,1,2
3,1,0,2,3,2,1,3,3,3,1,...,2,2,2,2,2,2,2,2,2,2
4,1,0,3,2,1,1,3,3,3,2,...,2,2,2,2,2,2,2,1,2,2

In [ ]:
data.isnull().sum()

Class          0
attribute2     0
attribute3     0
attribute4     0
attribute5     0
attribute6     0
attribute7     0
attribute8     0
attribute9     0
attribute10    0
attribute11    0
attribute12    0
attribute13    0
attribute14    0
attribute15    0
attribute16    0
attribute17    0
attribute18    0
attribute19    0
attribute20    0
attribute21    0
attribute22    0
attribute23    0
attribute24    0
attribute25    0
attribute26    0
attribute27    0
attribute28    0
attribute29    0
attribute30    0
attribute31    0
attribute32    0
attribute33    0
attribute34    0
attribute35    0
attribute36    0
attribute37    0
attribute38    0
attribute39    0
attribute40    0
attribute41    0
attribute42    0
attribute43    0
attribute44    0
attribute45    0
attribute46    0
attribute47    0
attribute48    0
attribute49    0
attribute50    0
attribute51    0
attribute52    0
attribute53    0
attribute54    0
attribute55    0
attribute56    0
attribute57    0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import KFold
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import cross_val_score



X = data.drop(['Class'], axis=1)
y = data.Class
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.5)
cv = KFold(n_splits=10, random_state=1, shuffle=True)
cv1 = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)


from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier

SVM = SVC()
RFC = RandomForestClassifier()
XGB = XGBClassifier()
KNN=KNeighborsClassifier()
scores = cross_val_score(SVM, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
#scores1 = cross_val_score(SVM, X, y, scoring='accuracy', cv=cv1, n_jobs=-1)
print('SVM Accuracy 10 fold: %.4f (%.3f)' % (mean(scores)*100, std(scores)))
#print('SVM Accuracy Repeated 10 fold: %.3f (%.3f)' % (mean(scores1), std(scores1)))
scores = cross_val_score(RFC, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
#scores1 = cross_val_score(RFC, X, y, scoring='accuracy', cv=cv1, n_jobs=-1)
print('RFC Accuracy 10 fold: %.4f (%.3f)' % (mean(scores)*100, std(scores)))
#print('RFC Accuracy Repeated 10 fold: %.3f (%.3f)' % (mean(scores1), std(scores1)))
scores = cross_val_score(XGB, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
#scores1 = cross_val_score(XGB, X, y, scoring='accuracy', cv=cv1, n_jobs=-1)
print('XGB Accuracy 10 fold: %.4f (%.3f)' % (mean(scores)*100, std(scores)))
#print('XGB Accuracy Repeated 10 fold: %.3f (%.3f)' % (mean(scores1), std(scores1)))
scores = cross_val_score(KNN, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
#scores1 = cross_val_score(KNN, X, y, scoring='accuracy', cv=cv1, n_jobs=-1)
print('KNN Accuracy 10 fold: %.4f (%.3f)' % (mean(scores)*100, std(scores)))
#print('KNN Accuracy Repeated 10 fold: %.3f (%.3f)' % (mean(scores1), std(scores1)))

C:\ProgramData\Anaconda3\lib\site-packages\distributed\utils.py:133: RuntimeWarning: Couldn't detect a suitable IP address for reaching '8.8.8.8', defaulting to '127.0.0.1': [WinError 10065] A socket operation was attempted to an unreachable host
  RuntimeWarning,

SVM Accuracy 10 fold: 37.5000 (0.282)
RFC Accuracy 10 fold: 42.5000 (0.259)
XGB Accuracy 10 fold: 51.6667 (0.238)
KNN Accuracy 10 fold: 55.8333 (0.264)

In [ ]:
#Chi-Square Test

import scipy.stats as stats
from scipy.stats import chi2

def chi_sqr(test_column,output_column):
    observed_value = pd.crosstab(test_column,output_column)
    val = stats.chi2_contingency(observed_value)
    expected_value=val[3]
    no_of_rows=len(observed_value.iloc[0:2,0])
    no_of_columns=len(observed_value.iloc[0,0:2])
    dgof=(no_of_rows-1)*(no_of_columns-1)
    alpha=0.05
    for o,e in zip(observed_value.values,expected_value):
        chi_2 = sum([(o-e)**2./e])       
    chi2_stat = np.sum(chi_2)
    return chi2_stat
    
df1 = data.drop(['Class'], axis=1)
top_n1 =[]
for i in df1.columns.values:
    top_n1.append(chi_sqr(df1[i],data['Class']))
    
col_name1 = np.array(X.columns)
a1 = pd.DataFrame(top_n1)
b1 = pd.DataFrame(col_name1)
info1 = pd.concat([a1,b1], axis=1)
info1.columns = ['Score','Features']

top1 = info1.nsmallest(20,'Score')
ft1 = np.array(top1['Features'])
top1
ft1

array(['attribute5', 'attribute19', 'attribute6', 'attribute23',
       'attribute32', 'attribute33', 'attribute56', 'attribute27',
       'attribute22', 'attribute18', 'attribute29', 'attribute30',
       'attribute26', 'attribute10', 'attribute13', 'attribute25',
       'attribute55', 'attribute2', 'attribute12', 'attribute34'],
      dtype=object)

In [ ]:
#ReliefF

from sklearn.pipeline import make_pipeline
from skrebate import ReliefF

features, classes = data.drop('Class', axis=1).values, data['Class'].values
X_train, X_test, y_train, y_test = train_test_split(features, classes)

arr = X_train.astype('float64')
fs = ReliefF()
fs.fit(arr, y_train)

top_n2=[]
names=[]
for feature_name, feature_score in zip(data.drop('Class', axis=1).columns, fs.feature_importances_):
    top_n2.append(feature_score)
    names.append(feature_name)
    
col_name3 = np.array(data.columns)
a3 = pd.DataFrame(top_n2)
b3 = pd.DataFrame(names)

info3 = pd.concat([a3,b3], axis=1)
info3.columns = ['Score','Features'] 

top3 = info3.nlargest(20,'Score')
ft3 = np.array(top3['Features'])
ft3

array(['attribute21', 'attribute7', 'attribute57', 'attribute20',
       'attribute9', 'attribute15', 'attribute24', 'attribute11',
       'attribute41', 'attribute54', 'attribute43', 'attribute3',
       'attribute38', 'attribute16', 'attribute55', 'attribute8',
       'attribute35', 'attribute5', 'attribute14', 'attribute39'],
      dtype=object)

In [ ]:
#Information Gain/Mutual Information

from sklearn.feature_selection import mutual_info_classif

res = mutual_info_classif(X,y,discrete_features=True)

col_name2 = np.array(X.columns)

a2 = pd.DataFrame(res)
b2 = pd.DataFrame(col_name2)
info2 = pd.concat([a2,b2], axis=1)
info2.columns = ['Info_Gain','Features']

top2 = info2.nlargest(20,'Info_Gain')
ft2 = np.array(top2['Features'])
ft2

array(['attribute21', 'attribute41', 'attribute15', 'attribute20',
       'attribute7', 'attribute9', 'attribute38', 'attribute14',
       'attribute34', 'attribute24', 'attribute44', 'attribute57',
       'attribute47', 'attribute54', 'attribute3', 'attribute39',
       'attribute16', 'attribute46', 'attribute40', 'attribute8'],
      dtype=object)

In [ ]:
from functools import reduce
def top_fs_union(n):
    f1 = ft1[:n]
    f2 = ft2[:n]
    f3 = ft3[:n]
    return(reduce(np.union1d, (f1,f2,f3)))

In [ ]:
top_fs_union(5)

array(['attribute15', 'attribute19', 'attribute20', 'attribute21',
       'attribute23', 'attribute32', 'attribute41', 'attribute5',
       'attribute57', 'attribute6', 'attribute7', 'attribute9'],
      dtype=object)

In [ ]:
top_fs_union(8)

array(['attribute11', 'attribute14', 'attribute15', 'attribute19',
       'attribute20', 'attribute21', 'attribute23', 'attribute24',
       'attribute27', 'attribute32', 'attribute33', 'attribute38',
       'attribute41', 'attribute5', 'attribute56', 'attribute57',
       'attribute6', 'attribute7', 'attribute9'], dtype=object)

In [ ]:
top_fs_union(10)

array(['attribute11', 'attribute14', 'attribute15', 'attribute18',
       'attribute19', 'attribute20', 'attribute21', 'attribute22',
       'attribute23', 'attribute24', 'attribute27', 'attribute32',
       'attribute33', 'attribute34', 'attribute38', 'attribute41',
       'attribute5', 'attribute54', 'attribute56', 'attribute57',
       'attribute6', 'attribute7', 'attribute9'], dtype=object)

In [ ]:
top_fs_union(15)

array(['attribute10', 'attribute11', 'attribute13', 'attribute14',
       'attribute15', 'attribute16', 'attribute18', 'attribute19',
       'attribute20', 'attribute21', 'attribute22', 'attribute23',
       'attribute24', 'attribute26', 'attribute27', 'attribute29',
       'attribute3', 'attribute30', 'attribute32', 'attribute33',
       'attribute34', 'attribute38', 'attribute41', 'attribute43',
       'attribute44', 'attribute47', 'attribute5', 'attribute54',
       'attribute55', 'attribute56', 'attribute57', 'attribute6',
       'attribute7', 'attribute9'], dtype=object)

In [ ]:
top_fs_union(20)

array(['attribute10', 'attribute11', 'attribute12', 'attribute13',
       'attribute14', 'attribute15', 'attribute16', 'attribute18',
       'attribute19', 'attribute2', 'attribute20', 'attribute21',
       'attribute22', 'attribute23', 'attribute24', 'attribute25',
       'attribute26', 'attribute27', 'attribute29', 'attribute3',
       'attribute30', 'attribute32', 'attribute33', 'attribute34',
       'attribute35', 'attribute38', 'attribute39', 'attribute40',
       'attribute41', 'attribute43', 'attribute44', 'attribute46',
       'attribute47', 'attribute5', 'attribute54', 'attribute55',
       'attribute56', 'attribute57', 'attribute6', 'attribute7',
       'attribute8', 'attribute9'], dtype=object)

In [ ]:
def assemble_run(n,classifier):
  top_fs=top_fs_union(n)
  top_fs=np.append(top_fs,['Class'], axis=0)
  dfs = data.loc[:,top_fs]
  X = dfs.drop(['Class'], axis=1)
  y = dfs['Class']
  model = classifier()
  scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
  print('Accuracy 10 fold: %.4f (%.3f)' % (mean(scores)*100, std(scores)))

In [ ]:
#SUPPORT VECTOR MACHINE

#Feature Subset by Union of 5 Best Features from each
SVM1 = assemble_run(5,SVC)
#Feature Subset by Union of 8 Best Features from each
SVM2 = assemble_run(8,SVC)
#Feature Subset by Union of 10 Best Features from each
SVM3 = assemble_run(10,SVC)
#Feature Subset by Union of 15 Best Features from each
SVM4 = assemble_run(15,SVC)
#Feature Subset by Union of20 Best Features from each
SVM5 = assemble_run(20,SVC)

Accuracy 10 fold: 55.0000 (0.259)
Accuracy 10 fold: 54.1667 (0.272)
Accuracy 10 fold: 51.6667 (0.238)
Accuracy 10 fold: 45.8333 (0.267)
Accuracy 10 fold: 43.3333 (0.249)

In [ ]:
#RANDOM FOREST CLASSIFIER

#Feature Subset by Union of 5 Best Features from each
RFC1 = assemble_run(5,RandomForestClassifier)
#Feature Subset by Union of 8 Best Features from each
RFC2 = assemble_run(8,RandomForestClassifier)
#Feature Subset by Union of 10 Best Features from each
RFC2 = assemble_run(10,RandomForestClassifier)
#Feature Subset by Union of 15 Best Features from each
RFC3 = assemble_run(15,RandomForestClassifier)
#Feature Subset by Union of 20 Best Features from each
RFC4 = assemble_run(20,RandomForestClassifier)

Accuracy 10 fold: 59.1667 (0.254)
Accuracy 10 fold: 42.5000 (0.151)
Accuracy 10 fold: 52.5000 (0.167)
Accuracy 10 fold: 44.1667 (0.264)
Accuracy 10 fold: 61.6667 (0.296)

In [ ]:
#XG BOOST CLASSIFIER

#Feature Subset by Union of 5 Best Features from each
XGB1 = assemble_run(5,XGBClassifier)
#Feature Subset by Union of 8 Best Features from each
XGB2 = assemble_run(8,XGBClassifier)
#Feature Subset by Union of 10 Best Features from each
XGB3 = assemble_run(10,XGBClassifier)
#Feature Subset by Union of 15 Best Features from each
XGB4 = assemble_run(15,XGBClassifier)
#Feature Subset by Union of 20 Best Features from each
XGB5 = assemble_run(20,XGBClassifier)

Accuracy 10 fold: 57.5000 (0.265)
Accuracy 10 fold: 51.6667 (0.302)
Accuracy 10 fold: 51.6667 (0.217)
Accuracy 10 fold: 51.6667 (0.186)
Accuracy 10 fold: 48.3333 (0.186)

In [ ]:
#KNN CLASSIFIER

#Feature Subset by Union of 5 Best Features from each
KNN1 = assemble_run(5,KNeighborsClassifier)
#Feature Subset by Union of 8 Best Features from each
KNN2 = assemble_run(8,KNeighborsClassifier)
#Feature Subset by Union of 10 Best Features from each
KNN3 = assemble_run(10,KNeighborsClassifier)
#Feature Subset by Union of 15 Best Features from each
KNN4 = assemble_run(15,KNeighborsClassifier)
#Feature Subset by Union of 20 Best Features from each
KNN5 = assemble_run(20,KNeighborsClassifier)

Accuracy 10 fold: 62.5000 (0.187)
Accuracy 10 fold: 46.6667 (0.208)
Accuracy 10 fold: 53.3333 (0.208)
Accuracy 10 fold: 46.6667 (0.256)
Accuracy 10 fold: 45.8333 (0.267)

In [ ]:
def top_fs_int(n):
    f1 = ft1[:n]
    f2 = ft2[:n]
    f3 = ft3[:n]
    return(reduce(np.intersect1d, (f1,f2,f3)))

In [ ]:
top_fs_int(5)

array([], dtype=object)

In [ ]:
top_fs_int(8)

array([], dtype=object)

In [ ]:
top_fs_int(10)

array([], dtype=object)

In [ ]:
top_fs_int(15)

array([], dtype=object)

In [ ]:
top_fs_int(20)

array([], dtype=object)

In [ ]:
def assemble_run(n,classifier):
  top_fs=top_fs_int(n)
  top_fs=np.append(top_fs,['Class'], axis=0)
  dfs = data.loc[:,top_fs]
  X = dfs.drop(['Class'], axis=1)
  y = dfs['Class']
  model = classifier()
  scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
  print('Accuracy 10 fold: %.4f (%.3f)' % (mean(scores)*100, std(scores)))

In [ ]:
#SUPPORT VECTOR MACHINE

#Feature Subset by Union of 5 Best Features from each
SVM1 = assemble_run(5,SVC)
#Feature Subset by Union of 8 Best Features from each
SVM2 = assemble_run(8,SVC)
#Feature Subset by Union of 10 Best Features from each
SVM3 = assemble_run(10,SVC)
#Feature Subset by Union of 15 Best Features from each
SVM4 = assemble_run(15,SVC)
#Feature Subset by Union of20 Best Features from each
SVM5 = assemble_run(20,SVC)

In [ ]:
#RANDOM FOREST CLASSIFIER

#Feature Subset by Union of 5 Best Features from each
RFC1 = assemble_run(5,RandomForestClassifier)
#Feature Subset by Union of 8 Best Features from each
RFC2 = assemble_run(8,RandomForestClassifier)
#Feature Subset by Union of 10 Best Features from each
RFC2 = assemble_run(10,RandomForestClassifier)
#Feature Subset by Union of 15 Best Features from each
RFC3 = assemble_run(15,RandomForestClassifier)
#Feature Subset by Union of 20 Best Features from each
RFC4 = assemble_run(20,RandomForestClassifier)

In [ ]:
#XG BOOST CLASSIFIER

#Feature Subset by Union of 5 Best Features from each
XGB1 = assemble_run(5,XGBClassifier)
#Feature Subset by Union of 8 Best Features from each
XGB2 = assemble_run(8,XGBClassifier)
#Feature Subset by Union of 10 Best Features from each
XGB3 = assemble_run(10,XGBClassifier)
#Feature Subset by Union of 15 Best Features from each
XGB4 = assemble_run(15,XGBClassifier)
#Feature Subset by Union of 20 Best Features from each
XGB5 = assemble_run(20,XGBClassifier)

In [ ]:
#KNN CLASSIFIER

#Feature Subset by Union of 5 Best Features from each
KNN1 = assemble_run(5,KNeighborsClassifier)
#Feature Subset by Union of 8 Best Features from each
KNN2 = assemble_run(8,KNeighborsClassifier)
#Feature Subset by Union of 10 Best Features from each
KNN3 = assemble_run(10,KNeighborsClassifier)
#Feature Subset by Union of 15 Best Features from each
KNN4 = assemble_run(15,KNeighborsClassifier)
#Feature Subset by Union of 20 Best Features from each
KNN5 = assemble_run(20,KNeighborsClassifier)